@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --bg: #FEFCF9;
  --text: oklch(15.08% 0.02731 82.098);
  --text-muted: oklch(43.861% 0.00005 271.152);
  --text-bright: oklch(1 0.03 85);

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.azeret-mono-medium {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1.5vw;
  color: var(--text-muted);
}


p {
  font-size: 1.7vw;
}

.azeret-mono-footer {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0.1vw;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.rainbow-div {
  height: 0.35vw;
  width: 80vw;
  margin: 1.5vw auto;
  background: #ff2b2b;
  background: linear-gradient(90deg, rgba(255, 43, 43, 1) 0%, rgba(255, 167, 66, 1) 15%, rgba(237, 255, 99, 1) 30%, rgba(142, 237, 74, 1) 46%, rgba(72, 224, 247, 1) 63%, rgba(33, 36, 217, 1) 81%, rgba(237, 83, 222, 1) 100%);

}

.logo {
  max-height: 8vw;
  display: inline;
}

.pad {
  margin: 2vw 0;
}

.xtra-pad {
  margin: 5vw 0;
}


.news {
  width: 25vw;
  padding: 0;
  margin: 0.5vw 0;
}

.news-img {
  width: 45vw;
  height: 10vw;
  object-fit: cover;
}

.games {
  width: 35vw;
  padding: 0;
  margin: 0.5vw 0;
}

.games-img {
  margin: 2vw 0;
  width: 35vw;
  height: 20vw;
  object-fit: cover;
}

.date {
  padding: 0;
  margin: 0;
}

.navigation a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s;
}

.navigation a:hover {
  color: var(--text-muted);
}

.flex-c {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: content;
  flex-direction: row;
  gap: 2vw;
  flex-wrap: wrap;
}
.flex-c-col {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: content;
  flex-direction: column;
  gap: 2vw;
  flex-wrap: wrap;
  column-fill: auto;
}

.hero {
  margin: 3vw -1vw;
  height: 60vw;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url(/img/bg.png);
}

.footer-p {
  margin: 0;
  padding: 0.1vw;
}

.left-right {
  margin: 0 16vw;
}

.i-promise-its-temp-button {
  width: 30vw;
  padding: 2vw;
  color: var(--text-bright);
  background-color: var(--text-muted);
  border-radius: 4vw;
  border-color: pink;
  transition: all 0.2s;
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  font-size: 1.8vw;
}
.i-promise-its-temp-button:hover {
  background-color: #ff95ac;
  color: var(--text);
  font-weight: 450;
}

.b-link {
  height: 6vw;
  width:6vw;
  display: inline-block;
  border: 0;
  background-color: unset;
  background-size: cover;
  color: transparent;
  margin: 0.2vw;
}

.b-steam {
  background-image: url("/img/steam.png");
}

.b-tt {
  background-image: url("/img/tt.png");
}

.b-yt {
  background-image: url("/img/yt.png");
}

.b-tumblr {
  background-image: url("/img/tumblr.png");
}

.b-bsky {
  background-image: url("/img/bsky.png");
}

.b-discord {
  background-image: url("/img/discord.png");
}

.b-link:hover {
  animation: 1s;
  filter: saturate(2); 
} 

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}