
:root {
  --bg: oklch(99.313% 0.0119 96.474);
  --text: oklch(15.08% 0.02731 82.098);
  --text-muted: oklch(0.4 0.03 85);
  --text-bright: oklch(1 0.03 85);
}


.pixelify-sans-title {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
  background-image: url("/img/concept.png");
}

body {
  margin: auto;
  max-width: 700px;
  height: 100%;
  min-height: 100vh;
  color: var(--text);
  background-color: var(--bg);
}

.center {
  text-align: center;
}

.studio-title {
  font-size: xxx-large;
  /* font-weight: 400; */
  margin-bottom: 0;
  margin-top: 0;
}

.announce-date {
  margin-top: -5px; 
  text-decoration: underline wavy rgb(164, 190, 237);
}.ib {
  display: inline-block;
}

.b2{
  font-size: large;
}

.logo {
  max-width: 150px;
  max-height: 150px;
  padding: 0;
  margin: 0;
}

.t {
  margin-bottom: auto;
  padding: 4vh 0 0 0;
}

.f {
  position: fixed;
  margin-top: auto;
  padding: 0 0 2vh 0;
  bottom: 0;
  right: 0;
  left: 0;
}


.steamframe-wrapper {
	position: relative;
  padding: 0px 0px 200px ;
  margin: 0 20px;
	height: 0;
}

.steamframe-wrapper iframe {
	position: absolute;
  left: 0;
	width: 100%;
	height: 100%;
}

.yt-wrapper {
	position: relative;
  padding: 25px 0px 49.5%;;
  margin: 0 20px;
	height: 0;
}
.yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.b-link {
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 0;
  background-color: unset;
  color: transparent;
  border-radius: 8px;
  margin: 0 2px;
}

.b-steam {
  background-image: url("/img/steam.png");
}

.b-tt {
  background-image: url("/img/tt.png");
}

.b-yt {
  background-image: url("/img/yt.png");
}

.b-tumblr {
  background-image: url("/img/tumblr.png");
}

.b-bsky {
  background-image: url("/img/bsky.png");
}

.b-link:hover {
  animation: 1s;
  filter: saturate(2); 
  /* do not leave this at 10 lol */
}